<ion-view view-title="景点详情">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div style="border-bottom: 1px #ccc solid;"><img style="width:100%" src="images/lj.jpg">
            <p style="color:#49d993;padding-left:5px;">丽江--古城</p>
        </div>
        <div style="padding:5px;background:#f2f2f2;color:#727272">
            <p>丽江古城,又名“大研古城”是一座集自然遗产、文化遗产和记忆遗产于一身，同时也是中国罕见的保存相当完好的少数民族聚集城市。是中国仅有的以整座古城申报世界文化遗产获得成功的两座古城之一。丽江古城有纳西古乐、东巴仪式、占卜文化、古镇酒吧以及纳西族火把节等，别具一格。</p>
        </div>
        <div style="padding-top:10px;padding-bottom:10px;">
            <div class="row col-center" style="text-align: center;border-top:1px #ccc solid;">
                <p class="col" style="border-right: 1px #ccc solid;margin:0;">评论人数</p>
                <p class="col" style="margin:0;">收藏人数</p>
            </div>
            <div class="row" style="text-align: center;border-bottom:1px #ccc solid">
                <p class="col" style="border-right: 1px #ccc solid;margin:0;">3000(人)</p>
                <p class="col" style="margin:0;">40000(人)</p>
            </div>
        </div>
        <div style="height:30px;line-height:30px;background:#f2f2f2;color:#49d993;padding-left:5px;"><p>评论</p></div>
        <ion-list>
            <ion-item class="item-avatar">
                <img src="images/tx.jpg"/>
                <h2>什么都行: <span>很漂亮啊</span></h2>
            </ion-item>
            <ion-item class="item-avatar">
                <img src="images/tx.jpg"/>
                <h2>什么都行: <span>很漂亮啊</span></h2>
            </ion-item>
            <ion-item class="item-avatar">
                <img src="images/tx.jpg"/>
                <h2>什么都行: <span>很漂亮啊</span></h2>
            </ion-item>
            <ion-item class="item-avatar">
                <img src="images/tx.jpg"/>
                <h2>什么都行: <span>很漂亮啊</span></h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>