<ion-view view-title="登录" id="entry">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div style="margin-top:35%">
            <div class="list-inset" style=";background-color:rgba(0,0,0,0)">
                <label class="item item-input">
                    <span class="input-label col-10">账号</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label col-10">密码</span>
                    <input type="password">
                </label>
                <a href="#" style="float:right;color:#42cc7e;padding-right:5px;">忘记密码?</a>
            </div>
            <div class="list-inset" style="background-color:rgba(0,0,0,0)">
                <button class="button button-block">登陆</button>
                <button class="button button-block">注册</button>
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="footer" style="background-color:rgba(0,0,0,0);height:55px;">
        <div class="row">
            <i class="col" style="text-align: center">
                <button class="button icon ion-social-tux"></button>
            </i>
            <i class="col" style="text-align: center">
                <button class="button icon ion-social-twitch"></button>
            </i>
            <i class="col" style="text-align: center;">
                <button class="button ionc ion-social-twitter"></button>
            </i>
        </div>
    </ion-footer-bar>
</ion-view>