<ion-view view-title="筛选" id="dressing">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader">
        <div class="row">
            <div class="col">
                <select style="display: inline-block;">
                    <option value="" selected>出发地</option>
                    <option value="伦敦">伦敦</option>
                </select>
            </div>
            <div class="col">
                <select>
                    <option value="" selected>目的地</option>
                    <option value="新西兰">新西兰</option>
                </select>
            </div>
            <div class="col">
                <select>
                    <option value="" selected>出发时间</option>
                    <option value="时间">16年10月</option>
                </select>
            </div>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item>
                <img style="width:100%" src="images/dsing_03.jpg">
            </ion-item>
            <ion-item>
                <img style="width:100%" src="images/dsing_06.jpg">
            </ion-item>
            <ion-item>
                <img style="width:100%" src="images/dsing_08.jpg">
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>