<ion-view view-title="美食详情" id="details">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div><img style="width:100%; display: block" src="images/yizhiji_13.jpg"></div>
        <p style="padding:10px 5px;color:#51c49b;
        background:#f3f3f3;margin:0;">桂花红烧肉<span style="float: right">价格<i style="color:#ef566b">30</i>元 优惠<i style="color:#ef566b">7</i>折</span></p>
        <table style="width:100%;text-align: center">
            <tr>
                <td>关注</td>
                <td>想吃</td>
                <td>吃过</td>
            </tr>
            <tr>
                <td><span>13402</span>(人)</td>
                <td><span>23456</span>(人)</td>
                <td><span>45511</span>(人)</td>
            </tr>
        </table>
        <h4 style="font-weight: 100;font-size:14px; padding:0 5px;">电话号码:<span>156-5238-2332</span></h4>
        <p  style="padding:10px 5px;color:#51c49b; background:#f3f3f3;margin:0;">顾客评价</p>
        <ion-list>
            <ion-item class="item-avatar">
                <img src="images/tx.jpg"/>
                <h2>什么都行: <span>很好吃</span></h2>
            </ion-item>
            <ion-item class="item-avatar">
                <img src="images/tx.jpg"/>
                <h2>什么都行: <span>非常好吃</span></h2>
            </ion-item>
            <ion-item class="item-avatar">
                <img src="images/tx.jpg"/>
                <h2>什么都行: <span>好吃得不得了</span></h2>
            </ion-item>
            <ion-item class="item-avatar">
                <img src="images/tx.jpg"/>
                <h2>什么都行: <span>舌头都要化了</span></h2>
            </ion-item>
        </ion-list>
    </ion-content>


</ion-view>